header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.header-logo {
  width: 60px;
  height: auto;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-start;
}

/* Vertical nav */
/* .header-nav > a {
  writing-mode: vertical-rl;
  text-orientation: upright;
} */
