@font-face {
  font-family: 'Diatype Regular';
  src: url('./assets/fonts/ABCDiatype-Regular-Trial.woff') format('woff2'),
       url('./assets/fonts/ABCDiatype-Regular-Trial.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Diatype Mono Regular';
  src: url('./assets/fonts/ABCDiatypeMono-Regular-Trial.woff2') format('woff2'),
       url('./assets/fonts/ABCDiatypeMono-Regular-Trial.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: 'Diatype Regular', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #32FF21;
  color: black;
}

#root {
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: black;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FFFBF0;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Custom general classes */
.label {
  font-family: 'Diatype Mono Regular';
  font-size: 0.75rem;
  letter-spacing: 0.1125rem;
  text-transform: uppercase;
}

.caption {
  font-family: "Diatype Mono Regular";
  font-size: 0.8125rem;
}

.p-xsmall-bottom {
  padding-bottom: 0.5rem; /* 24px */
}

.p-regular-bottom {
  padding-bottom: 1rem;
}

.p-medium-bottom {
  padding-bottom: 1.5rem; /* 24px */
}

.p-large-bottom {
  padding-bottom: 2.5rem; /* 40px */
}

.indented-text {
  text-indent: 3rem;
}

.two-columns-off {
  display: flex;
  gap: 1rem;
}

.two-columns-off > .title {
  width: 33%;
}

.two-columns-off > .info {
  flex: 1
}

/* Materials page */
.materials-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.materials-title {
  grid-column: 1 / span 12;
  padding-bottom: 6rem;
}

.materials-carousel {
  grid-column: 1 / span 4;
  height: 37.9rem;
  position: sticky;
  top: 1.5rem;
  z-index: 1000;
}

.materials-carousel img {
  width: 100%;
  border-top: 4px solid #32FF21;
  border-right: 4px solid #32FF21;
  box-shadow: 4.101px -4.101px 4.101px 0px rgba(50, 255, 33, 0.4);
}

.materials-text {
  grid-column: 7 / span 6;
}

.materials-brick {
  display: flex;
  justify-content: space-between;
}

.materials-brick img {
  width: 49%;
}

/* Erina's styling */
.tab-active {
  color: orangered !important; /* Remove important if possible */
}

.shop-card {
  display: flex;
  background-color: pink;
} /* Should this go in it's own css file specific to the component? */

.shop-card--image {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
