@font-face {
  font-family: 'Diatype Regular';
  src: url('./assets/fonts/ABCDiatype-Regular-Trial.woff') format('woff2'),
       url('./assets/fonts/ABCDiatype-Regular-Trial.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Diatype Mono Regular';
  src: url('./assets/fonts/ABCDiatypeMono-Regular-Trial.woff2') format('woff2'),
       url('./assets/fonts/ABCDiatypeMono-Regular-Trial.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: 'Diatype Regular', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #32FF21;
  color: black;
}

#root {
  margin: 0 auto;
  padding: 1.5rem 0rem;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: black;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FFFBF0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  margin: 0;
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  border: 1px solid black;
  background-color: rgb(255, 255, 255, 0) !important;
  padding: 0.6em 1.2em;
  font-family: "Diatype Mono Regular";
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1125rem;
  font-weight: 400;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #32FF21;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Custom general classes */
.label {
  font-family: 'Diatype Mono Regular';
  font-size: 0.75rem;
  letter-spacing: 0.1125rem;
  text-transform: uppercase;
}

.caption {
  font-family: "Diatype Mono Regular";
  font-size: 0.8125rem;
}

.p-xsmall-bottom {
  padding-bottom: 0.5rem; /* 24px */
}

.p-regular-bottom {
  padding-bottom: 1rem;
}

.p-medium-bottom {
  padding-bottom: 1.5rem; /* 24px */
}

.p-large-bottom {
  padding-bottom: 2.5rem; /* 40px */
}

.indented-text {
  text-indent: 3rem;
}

.two-columns-off {
  display: flex;
  gap: 1rem;
}

.two-columns-off > .title {
  width: 33%;
}

.two-columns-off > .info {
  flex: 1
}

/* Layout stying */

.twelve-grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 24px;
  padding: 0 1.5rem;
}

.twelve-col-full {
  grid-column: 1 / span 12;
}

.twelve-col-first-eight {
  grid-column: 1 / span 8;
}

.twelve-col-first-four {
  grid-column: 1 / span 4;
}

.twelve-col-first-five {
  grid-column: 1 / span 5;
}

.twelve-col-last-six {
  grid-column: 7 / span 6;
}

.twelve-col-first-four {
  grid-column: 1 / span 4;
}

.twelve-col-second-four {
  grid-column: 5 / span 4;
}

.twelve-col-last-four {
  grid-column: 9 / span 4;
}

/* About page */
.about-portrait {
  height: 37.9rem;
  position: sticky;
  top: 1.5rem;
  z-index: 1000;
}
.about-portrait > img {
  width: 100%;
  border-left: 4px solid #32FF21;
  border-bottom: 4px solid #32FF21;
}


/* Materials page */

.materials-title {
  padding-bottom: 6rem;
  text-align: center;
}

.materials-carousel {
  height: 37.9rem;
  position: sticky;
  top: 1.5rem;
  z-index: 1000;
}

.materials-carousel > img {
  width: 100%;
  border-top: 4px solid #32FF21;
  border-right: 4px solid #32FF21;
  box-shadow: 4.101px -4.101px 4.101px 0px rgba(50, 255, 33, 0.4);
}

.materials-brick {
  display: flex;
  justify-content: space-between;
}

.materials-brick img {
  width: 49%;
}

/* Shop detail */
.product-container {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
}

.product-container > .product-title{
  position: sticky;
  top: 1.5rem;
  z-index: 1000;
  width: 33.33%;
}

.product-title h1 {
  padding-top: 1rem;
}

.product-images-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.product-images-container > img {
  height: 100%;
  width: auto;
  margin-bottom: 1.5rem;
}

.product-images-description {
  position: sticky;
  top: 1.5rem;
  z-index: 1000;
  width: 40%;
}

.buy-button {
  width: 140px;
}

/* Erina's styling */
.tab-active {
  color: orangered !important; /* Remove important if possible */
}

.shop-list-container {
  /* display: flex;
  flex-wrap: wrap;
  width: 100%; */
}

.shop-card {
  display: flex;
  margin: 16px;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.shop-card-container {

}

.shop-card-side-even {
  grid-column: 1 / span 5;
} /* Should this go in it's own css file specific to the component? */

.shop-card-side-odd {
  grid-column: 8 / span 5;
  margin-top: 12rem;
}

.shop-card-image-container {
  width: 100%;
  box-shadow: 4.101px -4.101px 4.101px 0px rgba(50, 255, 33, 0.4);
  background-color: rgba(50, 255, 33, 0.1);
}

.shop-card-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
